In [4]:
import pandas as pd
Nigeria_weather = pd.DataFrame({
    'city' : ['Lagos', 'Ogun', 'Osun', 'Oyo', 'Ondo', 'Abuja', 'Kaduna', 'Kano', 'Ekiti', 'Edo'],
    'humidity' : [70, 40, 90, 80, 20, 46, 79, 42, 65, 50],
    'temperature' : [23, 35, 73, 90, 20, 34, 85, 72, 57, 49]
})
Nigeria_weather

     city  humidity  temperature
0   Lagos        70           23
1    Ogun        40           35
2    Osun        90           73
3     Oyo        80           90
4    Ondo        20           20
5   Abuja        46           34
6  Kaduna        79           85
7    Kano        42           72
8   Ekiti        65           57
9     Edo        50           49

In [5]:
import pandas as pd
India_weather = pd.DataFrame({
    'city' : ['Mumbai', 'Delhi', 'Banglore', 'Kolkata', 'Bengaluru', 'Chennai', 'Pune', 'Ahmedadad', 'Hyderabad', 'Surat'],
    'humidity' : [80, 60, 78, 91, 39, 47, 49, 81, 56, 66],
    'temperature' : [32, 45, 30, 48, 39, 87, 29, 89, 30, 64]
})
India_weather

        city  humidity  temperature
0     Mumbai        80           32
1      Delhi        60           45
2   Banglore        78           30
3    Kolkata        91           48
4  Bengaluru        39           39
5    Chennai        47           87
6       Pune        49           29
7  Ahmedadad        81           89
8  Hyderabad        56           30
9      Surat        66           64

In [6]:
US_weather = pd.DataFrame({
    'city' : ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'humidity' : [23, 46, 55, 78, 90, 24, 67, 39, 78, 34],
    'temperature' : [89, 78, 34, 60, 88, 67, 34, 14, 10, 86]
})
US_weather

           city  humidity  temperature
0      New York        23           89
1   Los Angeles        46           78
2       Chicago        55           34
3       Houston        78           60
4       Phoenix        90           88
5  Philadelphia        24           67
6   San Antonio        67           34
7     San Diego        39           14
8        Dallas        78           10
9      San Jose        34           86

In [7]:
Korea_weather = pd.DataFrame({
    'city' : ['Seoul', 'Busan', 'Incheon', 'Daegu', 'Daejeon', 'Gwangju', 'Suwan', 'Ulsan', 'Changwon', 'Goyang'],
    'humidity' : [34, 64, 58, 76, 67, 88, 25, 16, 80, 91],
    'temperature' : [55, 66, 87, 92, 34, 59, 78, 20, 59, 49]
})
Korea_weather

       city  humidity  temperature
0     Seoul        34           55
1     Busan        64           66
2   Incheon        58           87
3     Daegu        76           92
4   Daejeon        67           34
5   Gwangju        88           59
6     Suwan        25           78
7     Ulsan        16           20
8  Changwon        80           59
9    Goyang        91           49

In [8]:
France_weather = pd.DataFrame({
    'city' : ['Colmar', 'Haguenau', 'Mulhouse', 'Ribeauville', 'Strasbourg', 'Agen', 'Bayonne', 'Bergerac', 'Dax', 'Pau'],
    'humidity' : [89, 64, 45, 89, 76, 34, 33, 80, 38, 32],
    'temperature' : [46, 89, 67, 46, 91, 34, 36, 67, 89, 43]
})
France_weather

          city  humidity  temperature
0       Colmar        89           46
1     Haguenau        64           89
2     Mulhouse        45           67
3  Ribeauville        89           46
4   Strasbourg        76           91
5         Agen        34           34
6      Bayonne        33           36
7     Bergerac        80           67
8          Dax        38           89
9          Pau        32           43

In [9]:
Chinese_weather = pd.DataFrame({
    'city' : ['Hong Kong', 'Macau', 'Beijing', 'Chongqing', 'Shanghai','Tianjin', 'Anqing', 'Bengbu', 'Chaohu', 'Fuding'],
    'humidity' : [78, 36, 89, 27, 87, 76, 88, 34, 67, 78],
    'temperature' : [77, 88, 13, 76, 92, 44, 75, 81, 76, 25]
})
Chinese_weather

        city  humidity  temperature
0  Hong Kong        78           77
1      Macau        36           88
2    Beijing        89           13
3  Chongqing        27           76
4   Shanghai        87           92
5    Tianjin        76           44
6     Anqing        88           75
7     Bengbu        34           81
8     Chaohu        67           76
9     Fuding        78           25

In [10]:
Canada_weather = pd.DataFrame({
    'city' : ['Banff', 'Brooks', 'Calgary', 'Jasper', 'Red Deer', 'Saint Albert', 'Hope', 'Langley', 'White rock', 'Gander'],
    'humidity' : [77, 98, 34, 56, 34, 78, 23, 47, 81, 14],
    'temperature' : [66, 18, 37, 49, 64, 72, 50, 76, 85, 77]
})
Canada_weather

           city  humidity  temperature
0         Banff        77           66
1        Brooks        98           18
2       Calgary        34           37
3        Jasper        56           49
4      Red Deer        34           64
5  Saint Albert        78           72
6          Hope        23           50
7       Langley        47           76
8    White rock        81           85
9        Gander        14           77

In [11]:
Ghana_weather = pd.DataFrame({
    'city' : ['Accra', 'Kumasi', 'Tamale', 'Sunyani', 'Koforidua', 'Tema', 'Wa', 'Ho', 'Dome', 'Ejura'],
    'humidity' : [77, 98, 66, 53, 33, 87, 13, 98, 43, 33],
    'temperature' : [36, 73, 81, 99, 38, 49, 29, 18, 39, 46]
})
Ghana_weather

        city  humidity  temperature
0      Accra        77           36
1     Kumasi        98           73
2     Tamale        66           81
3    Sunyani        53           99
4  Koforidua        33           38
5       Tema        87           49
6         Wa        13           29
7         Ho        98           18
8       Dome        43           39
9      Ejura        33           46

In [12]:
Egypt_weather = pd.DataFrame({
    'city' : ['Cairo', 'Alexandria', 'Giza', 'Port Said', 'Suez', 'Luxor', 'Tanta', 'Asyut', 'Ismailia', 'Zagazig'],
    'humidity' : [14, 37, 87, 34, 66, 60, 80, 20, 77, 84],
    'temperature' : [23, 46, 87, 12, 98, 46, 59, 55, 88, 34]
})
Egypt_weather

         city  humidity  temperature
0       Cairo        14           23
1  Alexandria        37           46
2        Giza        87           87
3   Port Said        34           12
4        Suez        66           98
5       Luxor        60           46
6       Tanta        80           59
7       Asyut        20           55
8    Ismailia        77           88
9     Zagazig        84           34

In [13]:
Florida_weather = pd.DataFrame({
    'city' : ['Maimi', 'Tampa', 'Orlando', 'Hollywood', 'Clearwater', 'Brando', 'Lakeland', 'Davie', 'Alafaya', 'Largo'],
    'humidity' : [47, 81, 66, 50, 33, 81, 43, 38, 13, 63],
    'temperature' : [60, 71, 41, 33, 47, 77, 22, 23, 88, 60]
})
Florida_weather

         city  humidity  temperature
0       Maimi        47           60
1       Tampa        81           71
2     Orlando        66           41
3   Hollywood        50           33
4  Clearwater        33           47
5      Brando        81           77
6    Lakeland        43           22
7       Davie        38           23
8     Alafaya        13           88
9       Largo        63           60

In [14]:
Saudi_Arabia_weather = pd.DataFrame({
    'city' : ['Abha', 'Badr', 'Bareq', 'Duba', 'Gerrha', 'Haql', 'Hofuf', 'Jalajil', 'Jizan', 'jubail'],
    'humidity' : [33, 99, 43, 52, 22, 31, 13, 88, 55, 30],
    'temperature' : [14, 66, 16, 79, 32, 40, 33, 26, 77, 26]
})
Saudi_Arabia_weather

      city  humidity  temperature
0     Abha        33           14
1     Badr        99           66
2    Bareq        43           16
3     Duba        52           79
4   Gerrha        22           32
5     Haql        31           40
6    Hofuf        13           33
7  Jalajil        88           26
8    Jizan        55           77
9   jubail        30           26

In [15]:
Germany_weather = pd.DataFrame({
    'city' : ['Berin', 'Hamburg', 'Essen', 'Bochum', 'Munster', 'Augsburg', 'Kiel', 'Lubeck', 'Rostock', 'Hamm'],
    'humidity' : [11, 10, 16, 77, 88, 22, 92, 88, 39, 19],
    'temperature' : [55, 34, 66, 59, 62, 47, 30, 29, 74, 39]
})
Germany_weather

       city  humidity  temperature
0     Berin        11           55
1   Hamburg        10           34
2     Essen        16           66
3    Bochum        77           59
4   Munster        88           62
5  Augsburg        22           47
6      Kiel        92           30
7    Lubeck        88           29
8   Rostock        39           74
9      Hamm        19           39

In [16]:
BurkinaFaso_weather = pd.DataFrame({
    'city' : ['Ouagadougou', 'Bobo Diolasso', 'Banfora', 'Koudougou', 'Ouahigouya', 'Kaya', 'Fada ngourma', 'Tenkodogo', 'Hounde', 'Dedougou'],
    'humidity' : [51, 15, 86, 71, 28, 74, 66, 29, 88, 23],
    'temperature' : [11, 44, 56, 46, 32, 42, 39, 26, 84, 69]
})
BurkinaFaso_weather

            city  humidity  temperature
0    Ouagadougou        51           11
1  Bobo Diolasso        15           44
2        Banfora        86           56
3      Koudougou        71           46
4     Ouahigouya        28           32
5           Kaya        74           42
6   Fada ngourma        66           39
7      Tenkodogo        29           26
8         Hounde        88           84
9       Dedougou        23           69

In [17]:
Chad_weather = pd.DataFrame({
    'city' : ['Kelo', 'Pala', 'Mongo', 'Bongor','Sarh', 'NDjamena', 'Moundou', 'Abeche', 'Koumra', 'Am Timan'],
    'humidity' : [66, 99, 23, 77, 68, 88, 26, 29, 18, 44],
    'temperature' : [21, 35, 76, 45, 48, 19, 49, 76, 24, 73]
})
Chad_weather

       city  humidity  temperature
0      Kelo        66           21
1      Pala        99           35
2     Mongo        23           76
3    Bongor        77           45
4      Sarh        68           48
5  NDjamena        88           19
6   Moundou        26           49
7    Abeche        29           76
8    Koumra        18           24
9  Am Timan        44           73

In [18]:
Algeria_weather = pd.DataFrame({
    'city' : ['Algiers', 'Oran', 'Batna', 'Setif', 'Biska', 'Tiaret', 'Chlef', 'Blida', 'Bschar', 'Jijel'],
    'humidity' : [22, 87, 36, 56, 23, 67, 44, 76, 24, 33],
    'temperature' : [30, 14, 51, 23, 77, 97, 32, 73, 98, 30]
})
Algeria_weather

      city  humidity  temperature
0  Algiers        22           30
1     Oran        87           14
2    Batna        36           51
3    Setif        56           23
4    Biska        23           77
5   Tiaret        67           97
6    Chlef        44           32
7    Blida        76           73
8   Bschar        24           98
9    Jijel        33           30

In [20]:
con1 = pd.concat([Nigeria_weather, India_weather, US_weather, Korea_weather, France_weather, Chinese_weather, Canada_weather, Ghana_weather, Egypt_weather, Florida_weather, Saudi_Arabia_weather, Germany_weather, BurkinaFaso_weather, Chad_weather, Algeria_weather])
pd.set_option('display.max_rows', con1.shape[0] + 1)
con1

            city  humidity  temperature
0          Lagos        70           23
1           Ogun        40           35
2           Osun        90           73
3            Oyo        80           90
4           Ondo        20           20
5          Abuja        46           34
6         Kaduna        79           85
7           Kano        42           72
8          Ekiti        65           57
9            Edo        50           49
0         Mumbai        80           32
1          Delhi        60           45
2       Banglore        78           30
3        Kolkata        91           48
4      Bengaluru        39           39
5        Chennai        47           87
6           Pune        49           29
7      Ahmedadad        81           89
8      Hyderabad        56           30
9          Surat        66           64
0       New York        23           89
1    Los Angeles        46           78
2        Chicago        55           34
3        Houston        78           60
4        Phoenix        90           88
5   Philadelphia        24           67
6    San Antonio        67           34
7      San Diego        39           14
8         Dallas        78           10
9       San Jose        34           86
0          Seoul        34           55
1          Busan        64           66
2        Incheon        58           87
3          Daegu        76           92
4        Daejeon        67           34
5        Gwangju        88           59
6          Suwan        25           78
7          Ulsan        16           20
8       Changwon        80           59
9         Goyang        91           49
0         Colmar        89           46
1       Haguenau        64           89
2       Mulhouse        45           67
3    Ribeauville        89           46
4     Strasbourg        76           91
5           Agen        34           34
6        Bayonne        33           36
7       Bergerac        80           67
8            Dax        38           89
9            Pau        32           43
0      Hong Kong        78           77
1          Macau        36           88
2        Beijing        89           13
3      Chongqing        27           76
4       Shanghai        87           92
5        Tianjin        76           44
6         Anqing        88           75
7         Bengbu        34           81
8         Chaohu        67           76
9         Fuding        78           25
0          Banff        77           66
1         Brooks        98           18
2        Calgary        34           37
3         Jasper        56           49
4       Red Deer        34           64
5   Saint Albert        78           72
6           Hope        23           50
7        Langley        47           76
8     White rock        81           85
9         Gander        14           77
0          Accra        77           36
1         Kumasi        98           73
2         Tamale        66           81
3        Sunyani        53           99
4      Koforidua        33           38
5           Tema        87           49
6             Wa        13           29
7             Ho        98           18
8           Dome        43           39
9          Ejura        33           46
0          Cairo        14           23
1     Alexandria        37           46
2           Giza        87           87
3      Port Said        34           12
4           Suez        66           98
5          Luxor        60           46
6          Tanta        80           59
7          Asyut        20           55
8       Ismailia        77           88
9        Zagazig        84           34
0          Maimi        47           60
1          Tampa        81           71
2        Orlando        66           41
3      Hollywood        50           33
4     Clearwater        33           47
5         Brando        81           77
6       Lakeland        43           22
7          Davie        38           23
8        Alafaya        13           88
9          Largo        63           60
0           Abha        33           14
1           Badr        99           66
2          Bareq        43           16
3           Duba        52           79
4         Gerrha        22           32
5           Haql        31           40
6          Hofuf        13           33
7        Jalajil        88           26
8          Jizan        55           77
9         jubail        30           26
0          Berin        11           55
1        Hamburg        10           34
2          Essen        16           66
3         Bochum        77           59
4        Munster        88           62
5       Augsburg        22           47
6           Kiel        92           30
7         Lubeck        88           29
8        Rostock        39           74
9           Hamm        19           39
0    Ouagadougou        51           11
1  Bobo Diolasso        15           44
2        Banfora        86           56
3      Koudougou        71           46
4     Ouahigouya        28           32
5           Kaya        74           42
6   Fada ngourma        66           39
7      Tenkodogo        29           26
8         Hounde        88           84
9       Dedougou        23           69
0           Kelo        66           21
1           Pala        99           35
2          Mongo        23           76
3         Bongor        77           45
4           Sarh        68           48
5       NDjamena        88           19
6        Moundou        26           49
7         Abeche        29           76
8         Koumra        18           24
9       Am Timan        44           73
0        Algiers        22           30
1           Oran        87           14
2          Batna        36           51
3          Setif        56           23
4          Biska        23           77
5         Tiaret        67           97
6          Chlef        44           32
7          Blida        76           73
8         Bschar        24           98
9          Jijel        33           30

In [21]:
con1 = pd.concat([Nigeria_weather, India_weather, US_weather, Korea_weather, France_weather, Chinese_weather, Canada_weather, Ghana_weather, Egypt_weather, Florida_weather, Saudi_Arabia_weather, Germany_weather, BurkinaFaso_weather, Chad_weather, Algeria_weather], ignore_index = True)
pd.set_option('display.max_rows', con1.shape[0] + 1)
con1

              city  humidity  temperature
0            Lagos        70           23
1             Ogun        40           35
2             Osun        90           73
3              Oyo        80           90
4             Ondo        20           20
5            Abuja        46           34
6           Kaduna        79           85
7             Kano        42           72
8            Ekiti        65           57
9              Edo        50           49
10          Mumbai        80           32
11           Delhi        60           45
12        Banglore        78           30
13         Kolkata        91           48
14       Bengaluru        39           39
15         Chennai        47           87
16            Pune        49           29
17       Ahmedadad        81           89
18       Hyderabad        56           30
19           Surat        66           64
20        New York        23           89
21     Los Angeles        46           78
22         Chicago        55           34
23         Houston        78           60
24         Phoenix        90           88
25    Philadelphia        24           67
26     San Antonio        67           34
27       San Diego        39           14
28          Dallas        78           10
29        San Jose        34           86
30           Seoul        34           55
31           Busan        64           66
32         Incheon        58           87
33           Daegu        76           92
34         Daejeon        67           34
35         Gwangju        88           59
36           Suwan        25           78
37           Ulsan        16           20
38        Changwon        80           59
39          Goyang        91           49
40          Colmar        89           46
41        Haguenau        64           89
42        Mulhouse        45           67
43     Ribeauville        89           46
44      Strasbourg        76           91
45            Agen        34           34
46         Bayonne        33           36
47        Bergerac        80           67
48             Dax        38           89
49             Pau        32           43
50       Hong Kong        78           77
51           Macau        36           88
52         Beijing        89           13
53       Chongqing        27           76
54        Shanghai        87           92
55         Tianjin        76           44
56          Anqing        88           75
57          Bengbu        34           81
58          Chaohu        67           76
59          Fuding        78           25
60           Banff        77           66
61          Brooks        98           18
62         Calgary        34           37
63          Jasper        56           49
64        Red Deer        34           64
65    Saint Albert        78           72
66            Hope        23           50
67         Langley        47           76
68      White rock        81           85
69          Gander        14           77
70           Accra        77           36
71          Kumasi        98           73
72          Tamale        66           81
73         Sunyani        53           99
74       Koforidua        33           38
75            Tema        87           49
76              Wa        13           29
77              Ho        98           18
78            Dome        43           39
79           Ejura        33           46
80           Cairo        14           23
81      Alexandria        37           46
82            Giza        87           87
83       Port Said        34           12
84            Suez        66           98
85           Luxor        60           46
86           Tanta        80           59
87           Asyut        20           55
88        Ismailia        77           88
89         Zagazig        84           34
90           Maimi        47           60
91           Tampa        81           71
92         Orlando        66           41
93       Hollywood        50           33
94      Clearwater        33           47
95          Brando        81           77
96        Lakeland        43           22
97           Davie        38           23
98         Alafaya        13           88
99           Largo        63           60
100           Abha        33           14
101           Badr        99           66
102          Bareq        43           16
103           Duba        52           79
104         Gerrha        22           32
105           Haql        31           40
106          Hofuf        13           33
107        Jalajil        88           26
108          Jizan        55           77
109         jubail        30           26
110          Berin        11           55
111        Hamburg        10           34
112          Essen        16           66
113         Bochum        77           59
114        Munster        88           62
115       Augsburg        22           47
116           Kiel        92           30
117         Lubeck        88           29
118        Rostock        39           74
119           Hamm        19           39
120    Ouagadougou        51           11
121  Bobo Diolasso        15           44
122        Banfora        86           56
123      Koudougou        71           46
124     Ouahigouya        28           32
125           Kaya        74           42
126   Fada ngourma        66           39
127      Tenkodogo        29           26
128         Hounde        88           84
129       Dedougou        23           69
130           Kelo        66           21
131           Pala        99           35
132          Mongo        23           76
133         Bongor        77           45
134           Sarh        68           48
135       NDjamena        88           19
136        Moundou        26           49
137         Abeche        29           76
138         Koumra        18           24
139       Am Timan        44           73
140        Algiers        22           30
141           Oran        87           14
142          Batna        36           51
143          Setif        56           23
144          Biska        23           77
145         Tiaret        67           97
146          Chlef        44           32
147          Blida        76           73
148         Bschar        24           98
149          Jijel        33           30

In [22]:
df = pd.concat([Nigeria_weather, India_weather, US_weather, Korea_weather, France_weather, Chinese_weather, Canada_weather, Ghana_weather, Egypt_weather, Florida_weather, Saudi_Arabia_weather, Germany_weather, BurkinaFaso_weather, Chad_weather, Algeria_weather], keys = ['Nigeria', 'India', 'USA', 'Korea', 'France', 'Chinese', 'Canada','Ghana', 'Egypt', 'Florida', 'Saudi Arabia', 'Germany', 'Burkina Faso', 'Chad', 'Algeria'])
pd.set_option('display.max_rows', df.shape[0] + 1)
df

                         city  humidity  temperature
Nigeria      0          Lagos        70           23
             1           Ogun        40           35
             2           Osun        90           73
             3            Oyo        80           90
             4           Ondo        20           20
             5          Abuja        46           34
             6         Kaduna        79           85
             7           Kano        42           72
             8          Ekiti        65           57
             9            Edo        50           49
India        0         Mumbai        80           32
             1          Delhi        60           45
             2       Banglore        78           30
             3        Kolkata        91           48
             4      Bengaluru        39           39
             5        Chennai        47           87
             6           Pune        49           29
             7      Ahmedadad        81           89
             8      Hyderabad        56           30
             9          Surat        66           64
USA          0       New York        23           89
             1    Los Angeles        46           78
             2        Chicago        55           34
             3        Houston        78           60
             4        Phoenix        90           88
             5   Philadelphia        24           67
             6    San Antonio        67           34
             7      San Diego        39           14
             8         Dallas        78           10
             9       San Jose        34           86
Korea        0          Seoul        34           55
             1          Busan        64           66
             2        Incheon        58           87
             3          Daegu        76           92
             4        Daejeon        67           34
             5        Gwangju        88           59
             6          Suwan        25           78
             7          Ulsan        16           20
             8       Changwon        80           59
             9         Goyang        91           49
France       0         Colmar        89           46
             1       Haguenau        64           89
             2       Mulhouse        45           67
             3    Ribeauville        89           46
             4     Strasbourg        76           91
             5           Agen        34           34
             6        Bayonne        33           36
             7       Bergerac        80           67
             8            Dax        38           89
             9            Pau        32           43
Chinese      0      Hong Kong        78           77
             1          Macau        36           88
             2        Beijing        89           13
             3      Chongqing        27           76
             4       Shanghai        87           92
             5        Tianjin        76           44
             6         Anqing        88           75
             7         Bengbu        34           81
             8         Chaohu        67           76
             9         Fuding        78           25
Canada       0          Banff        77           66
             1         Brooks        98           18
             2        Calgary        34           37
             3         Jasper        56           49
             4       Red Deer        34           64
             5   Saint Albert        78           72
             6           Hope        23           50
             7        Langley        47           76
             8     White rock        81           85
             9         Gander        14           77
Ghana        0          Accra        77           36
             1         Kumasi        98           73
             2         Tamale        66           81
             3        Sunyani        53           99
             4      Koforidua        33           38
             5           Tema        87           49
             6             Wa        13           29
             7             Ho        98           18
             8           Dome        43           39
             9          Ejura        33           46
Egypt        0          Cairo        14           23
             1     Alexandria        37           46
             2           Giza        87           87
             3      Port Said        34           12
             4           Suez        66           98
             5          Luxor        60           46
             6          Tanta        80           59
             7          Asyut        20           55
             8       Ismailia        77           88
             9        Zagazig        84           34
Florida      0          Maimi        47           60
             1          Tampa        81           71
             2        Orlando        66           41
             3      Hollywood        50           33
             4     Clearwater        33           47
             5         Brando        81           77
             6       Lakeland        43           22
             7          Davie        38           23
             8        Alafaya        13           88
             9          Largo        63           60
Saudi Arabia 0           Abha        33           14
             1           Badr        99           66
             2          Bareq        43           16
             3           Duba        52           79
             4         Gerrha        22           32
             5           Haql        31           40
             6          Hofuf        13           33
             7        Jalajil        88           26
             8          Jizan        55           77
             9         jubail        30           26
Germany      0          Berin        11           55
             1        Hamburg        10           34
             2          Essen        16           66
             3         Bochum        77           59
             4        Munster        88           62
             5       Augsburg        22           47
             6           Kiel        92           30
             7         Lubeck        88           29
             8        Rostock        39           74
             9           Hamm        19           39
Burkina Faso 0    Ouagadougou        51           11
             1  Bobo Diolasso        15           44
             2        Banfora        86           56
             3      Koudougou        71           46
             4     Ouahigouya        28           32
             5           Kaya        74           42
             6   Fada ngourma        66           39
             7      Tenkodogo        29           26
             8         Hounde        88           84
             9       Dedougou        23           69
Chad         0           Kelo        66           21
             1           Pala        99           35
             2          Mongo        23           76
             3         Bongor        77           45
             4           Sarh        68           48
             5       NDjamena        88           19
             6        Moundou        26           49
             7         Abeche        29           76
             8         Koumra        18           24
             9       Am Timan        44           73
Algeria      0        Algiers        22           30
             1           Oran        87           14
             2          Batna        36           51
             3          Setif        56           23
             4          Biska        23           77
             5         Tiaret        67           97
             6          Chlef        44           32
             7          Blida        76           73
             8         Bschar        24           98
             9          Jijel        33           30

In [23]:
s = pd.Series(['Spring', 'Autumn', 'Winter', 'Summer', 'Autumn', 'Autumn','Summer','Spring', 'Winter', 'Autumn'], name = 'Season')
s

0    Spring
1    Autumn
2    Winter
3    Summer
4    Autumn
5    Autumn
6    Summer
7    Spring
8    Winter
9    Autumn
Name: Season, dtype: object

In [25]:
p = pd.concat([con1, s], axis = 1)
p

              city  humidity  temperature  Season
0            Lagos        70           23  Spring
1             Ogun        40           35  Autumn
2             Osun        90           73  Winter
3              Oyo        80           90  Summer
4             Ondo        20           20  Autumn
5            Abuja        46           34  Autumn
6           Kaduna        79           85  Summer
7             Kano        42           72  Spring
8            Ekiti        65           57  Winter
9              Edo        50           49  Autumn
10          Mumbai        80           32     NaN
11           Delhi        60           45     NaN
12        Banglore        78           30     NaN
13         Kolkata        91           48     NaN
14       Bengaluru        39           39     NaN
15         Chennai        47           87     NaN
16            Pune        49           29     NaN
17       Ahmedadad        81           89     NaN
18       Hyderabad        56           30     NaN
19           Surat        66           64     NaN
20        New York        23           89     NaN
21     Los Angeles        46           78     NaN
22         Chicago        55           34     NaN
23         Houston        78           60     NaN
24         Phoenix        90           88     NaN
25    Philadelphia        24           67     NaN
26     San Antonio        67           34     NaN
27       San Diego        39           14     NaN
28          Dallas        78           10     NaN
29        San Jose        34           86     NaN
30           Seoul        34           55     NaN
31           Busan        64           66     NaN
32         Incheon        58           87     NaN
33           Daegu        76           92     NaN
34         Daejeon        67           34     NaN
35         Gwangju        88           59     NaN
36           Suwan        25           78     NaN
37           Ulsan        16           20     NaN
38        Changwon        80           59     NaN
39          Goyang        91           49     NaN
40          Colmar        89           46     NaN
41        Haguenau        64           89     NaN
42        Mulhouse        45           67     NaN
43     Ribeauville        89           46     NaN
44      Strasbourg        76           91     NaN
45            Agen        34           34     NaN
46         Bayonne        33           36     NaN
47        Bergerac        80           67     NaN
48             Dax        38           89     NaN
49             Pau        32           43     NaN
50       Hong Kong        78           77     NaN
51           Macau        36           88     NaN
52         Beijing        89           13     NaN
53       Chongqing        27           76     NaN
54        Shanghai        87           92     NaN
55         Tianjin        76           44     NaN
56          Anqing        88           75     NaN
57          Bengbu        34           81     NaN
58          Chaohu        67           76     NaN
59          Fuding        78           25     NaN
60           Banff        77           66     NaN
61          Brooks        98           18     NaN
62         Calgary        34           37     NaN
63          Jasper        56           49     NaN
64        Red Deer        34           64     NaN
65    Saint Albert        78           72     NaN
66            Hope        23           50     NaN
67         Langley        47           76     NaN
68      White rock        81           85     NaN
69          Gander        14           77     NaN
70           Accra        77           36     NaN
71          Kumasi        98           73     NaN
72          Tamale        66           81     NaN
73         Sunyani        53           99     NaN
74       Koforidua        33           38     NaN
75            Tema        87           49     NaN
76              Wa        13           29     NaN
77              Ho        98           18     NaN
78            Dome        43           39     NaN
79           Ejura        33           46     NaN
80           Cairo        14           23     NaN
81      Alexandria        37           46     NaN
82            Giza        87           87     NaN
83       Port Said        34           12     NaN
84            Suez        66           98     NaN
85           Luxor        60           46     NaN
86           Tanta        80           59     NaN
87           Asyut        20           55     NaN
88        Ismailia        77           88     NaN
89         Zagazig        84           34     NaN
90           Maimi        47           60     NaN
91           Tampa        81           71     NaN
92         Orlando        66           41     NaN
93       Hollywood        50           33     NaN
94      Clearwater        33           47     NaN
95          Brando        81           77     NaN
96        Lakeland        43           22     NaN
97           Davie        38           23     NaN
98         Alafaya        13           88     NaN
99           Largo        63           60     NaN
100           Abha        33           14     NaN
101           Badr        99           66     NaN
102          Bareq        43           16     NaN
103           Duba        52           79     NaN
104         Gerrha        22           32     NaN
105           Haql        31           40     NaN
106          Hofuf        13           33     NaN
107        Jalajil        88           26     NaN
108          Jizan        55           77     NaN
109         jubail        30           26     NaN
110          Berin        11           55     NaN
111        Hamburg        10           34     NaN
112          Essen        16           66     NaN
113         Bochum        77           59     NaN
114        Munster        88           62     NaN
115       Augsburg        22           47     NaN
116           Kiel        92           30     NaN
117         Lubeck        88           29     NaN
118        Rostock        39           74     NaN
119           Hamm        19           39     NaN
120    Ouagadougou        51           11     NaN
121  Bobo Diolasso        15           44     NaN
122        Banfora        86           56     NaN
123      Koudougou        71           46     NaN
124     Ouahigouya        28           32     NaN
125           Kaya        74           42     NaN
126   Fada ngourma        66           39     NaN
127      Tenkodogo        29           26     NaN
128         Hounde        88           84     NaN
129       Dedougou        23           69     NaN
130           Kelo        66           21     NaN
131           Pala        99           35     NaN
132          Mongo        23           76     NaN
133         Bongor        77           45     NaN
134           Sarh        68           48     NaN
135       NDjamena        88           19     NaN
136        Moundou        26           49     NaN
137         Abeche        29           76     NaN
138         Koumra        18           24     NaN
139       Am Timan        44           73     NaN
140        Algiers        22           30     NaN
141           Oran        87           14     NaN
142          Batna        36           51     NaN
143          Setif        56           23     NaN
144          Biska        23           77     NaN
145         Tiaret        67           97     NaN
146          Chlef        44           32     NaN
147          Blida        76           73     NaN
148         Bschar        24           98     NaN
149          Jijel        33           30     NaN

In [26]:
mode = p.Season.mode()
mode

0    Autumn
dtype: object

In [33]:
p.fillna(mode.iloc[0]) #, inplace = True)

              city  humidity  temperature  Season
0            Lagos        70           23  Spring
1             Ogun        40           35  Autumn
2             Osun        90           73  Winter
3              Oyo        80           90  Summer
4             Ondo        20           20  Autumn
5            Abuja        46           34  Autumn
6           Kaduna        79           85  Summer
7             Kano        42           72  Spring
8            Ekiti        65           57  Winter
9              Edo        50           49  Autumn
10          Mumbai        80           32  Autumn
11           Delhi        60           45  Autumn
12        Banglore        78           30  Autumn
13         Kolkata        91           48  Autumn
14       Bengaluru        39           39  Autumn
15         Chennai        47           87  Autumn
16            Pune        49           29  Autumn
17       Ahmedadad        81           89  Autumn
18       Hyderabad        56           30  Autumn
19           Surat        66           64  Autumn
20        New York        23           89  Autumn
21     Los Angeles        46           78  Autumn
22         Chicago        55           34  Autumn
23         Houston        78           60  Autumn
24         Phoenix        90           88  Autumn
25    Philadelphia        24           67  Autumn
26     San Antonio        67           34  Autumn
27       San Diego        39           14  Autumn
28          Dallas        78           10  Autumn
29        San Jose        34           86  Autumn
30           Seoul        34           55  Autumn
31           Busan        64           66  Autumn
32         Incheon        58           87  Autumn
33           Daegu        76           92  Autumn
34         Daejeon        67           34  Autumn
35         Gwangju        88           59  Autumn
36           Suwan        25           78  Autumn
37           Ulsan        16           20  Autumn
38        Changwon        80           59  Autumn
39          Goyang        91           49  Autumn
40          Colmar        89           46  Autumn
41        Haguenau        64           89  Autumn
42        Mulhouse        45           67  Autumn
43     Ribeauville        89           46  Autumn
44      Strasbourg        76           91  Autumn
45            Agen        34           34  Autumn
46         Bayonne        33           36  Autumn
47        Bergerac        80           67  Autumn
48             Dax        38           89  Autumn
49             Pau        32           43  Autumn
50       Hong Kong        78           77  Autumn
51           Macau        36           88  Autumn
52         Beijing        89           13  Autumn
53       Chongqing        27           76  Autumn
54        Shanghai        87           92  Autumn
55         Tianjin        76           44  Autumn
56          Anqing        88           75  Autumn
57          Bengbu        34           81  Autumn
58          Chaohu        67           76  Autumn
59          Fuding        78           25  Autumn
60           Banff        77           66  Autumn
61          Brooks        98           18  Autumn
62         Calgary        34           37  Autumn
63          Jasper        56           49  Autumn
64        Red Deer        34           64  Autumn
65    Saint Albert        78           72  Autumn
66            Hope        23           50  Autumn
67         Langley        47           76  Autumn
68      White rock        81           85  Autumn
69          Gander        14           77  Autumn
70           Accra        77           36  Autumn
71          Kumasi        98           73  Autumn
72          Tamale        66           81  Autumn
73         Sunyani        53           99  Autumn
74       Koforidua        33           38  Autumn
75            Tema        87           49  Autumn
76              Wa        13           29  Autumn
77              Ho        98           18  Autumn
78            Dome        43           39  Autumn
79           Ejura        33           46  Autumn
80           Cairo        14           23  Autumn
81      Alexandria        37           46  Autumn
82            Giza        87           87  Autumn
83       Port Said        34           12  Autumn
84            Suez        66           98  Autumn
85           Luxor        60           46  Autumn
86           Tanta        80           59  Autumn
87           Asyut        20           55  Autumn
88        Ismailia        77           88  Autumn
89         Zagazig        84           34  Autumn
90           Maimi        47           60  Autumn
91           Tampa        81           71  Autumn
92         Orlando        66           41  Autumn
93       Hollywood        50           33  Autumn
94      Clearwater        33           47  Autumn
95          Brando        81           77  Autumn
96        Lakeland        43           22  Autumn
97           Davie        38           23  Autumn
98         Alafaya        13           88  Autumn
99           Largo        63           60  Autumn
100           Abha        33           14  Autumn
101           Badr        99           66  Autumn
102          Bareq        43           16  Autumn
103           Duba        52           79  Autumn
104         Gerrha        22           32  Autumn
105           Haql        31           40  Autumn
106          Hofuf        13           33  Autumn
107        Jalajil        88           26  Autumn
108          Jizan        55           77  Autumn
109         jubail        30           26  Autumn
110          Berin        11           55  Autumn
111        Hamburg        10           34  Autumn
112          Essen        16           66  Autumn
113         Bochum        77           59  Autumn
114        Munster        88           62  Autumn
115       Augsburg        22           47  Autumn
116           Kiel        92           30  Autumn
117         Lubeck        88           29  Autumn
118        Rostock        39           74  Autumn
119           Hamm        19           39  Autumn
120    Ouagadougou        51           11  Autumn
121  Bobo Diolasso        15           44  Autumn
122        Banfora        86           56  Autumn
123      Koudougou        71           46  Autumn
124     Ouahigouya        28           32  Autumn
125           Kaya        74           42  Autumn
126   Fada ngourma        66           39  Autumn
127      Tenkodogo        29           26  Autumn
128         Hounde        88           84  Autumn
129       Dedougou        23           69  Autumn
130           Kelo        66           21  Autumn
131           Pala        99           35  Autumn
132          Mongo        23           76  Autumn
133         Bongor        77           45  Autumn
134           Sarh        68           48  Autumn
135       NDjamena        88           19  Autumn
136        Moundou        26           49  Autumn
137         Abeche        29           76  Autumn
138         Koumra        18           24  Autumn
139       Am Timan        44           73  Autumn
140        Algiers        22           30  Autumn
141           Oran        87           14  Autumn
142          Batna        36           51  Autumn
143          Setif        56           23  Autumn
144          Biska        23           77  Autumn
145         Tiaret        67           97  Autumn
146          Chlef        44           32  Autumn
147          Blida        76           73  Autumn
148         Bschar        24           98  Autumn
149          Jijel        33           30  Autumn